<%- include('partials/header') %>

<div class="jumbotron centered">
	<div class="container">
		<h1>My Secrets</h1>

		<p>View your submitted secrets here</p>
		<a class="btn btn-outline-dark" href="/secrets" role="button"
			>Back to Secrets Page</a
		>
		<hr />
		<%userWithSecrets.forEach(content =>{%>
		<div class="secret-text">
			<form action="/delete" method="POST">
				<p><%=content%></p>

				<button
					type="submit"
					name="deleteData"
					value="<%=content%>"
					class="btn btn-light"
				>
					x
				</button>
			</form>
		</div>
		<% }) %>
		<hr />
		<div class="secret-button-container">
			<a
				class="btn btn-outline-dark btn-lg button-style"
				href="/logout"
				role="button"
				>Logout</a
			>
			<a class="btn btn-dark btn-lg" href="/submit" role="button"
				>Submit A Secret</a
			>
		</div>
	</div>
</div>

<%- include('partials/footer') %>
