<%- include('partials/header') %>


    <div class="jumbotron centered">
        <div class="container"> 
            <h1>Welcome to Secrets page</h1>
            <p>Share your secret now!</p>
            <hr>
            <div class="secret-text">
                <p>Shhhh!!! It's a secret! :P</p>
            </div>
            <hr>
            <div class="secret-button-container">
                <a class="btn btn-outline-dark btn-lg button-style" href="/" role="button">Logout</a>
                <a class="btn btn-dark btn-lg " href="/submit" role="button">Submit A Secret</a> 
            </div>
          
        </div>
    </div>

<%- include('partials/footer') %>
        

  